@import 'global/reset'
@import 'global/variables'

html
  font-size: 62.5%

body
  font-family: Gotham, sans-serif

.mainContent
  height: 100vh
  position: relative
  background: #000

.song
  width: 100%
  display: flex
  position: absolute
  z-index: 10000
  color: #fff
  font-size: 1.6rem
  justify-content: flex-end
  padding: 5px

  .volume-slider
    display: flex
    .volume-img
      width: 35px
      img
        width: 100%

.content
  width: 100vw
  height: 100vh
  position: absolute
  background-image: url(/assets/imgs/bg.jpg)
  background-size: cover

.dialog-container
  position: fixed
  bottom: 5vh
  left: 20vw
  width: 100%
  color: #fff

  .dialog
    font-size: 1.6rem
    height: 50px
    &-author
      font-weight: 900
      color: #ff0000
    &-text
      line-height: 2.4rem

  .choices
    display: flex
    align-self: center
    justify-content: space-around
    width: 20%
    height: 38px
    &-item
      font-size: 1.6rem
      cursor: pointer
      border: 1px solid #fff
      border-radius: 5px
      padding: 10px
    &-item:hover
      background: #fff
      color: #000
      transition: 0.2s