@import 'global/reset'
@import 'global/variables'

html
  font-size: 62.5%

body
  font-family: Gotham, sans-serif

.mainContent
  height: 100vh
  position: relative
  background-color: $lightblue


.song
  width: 100%
  display: flex
  position: absolute
  z-index: 1
  color: #fff
  font-size: 1.6rem
  justify-content: flex-end
  padding: 5px

  .volume-slider
    display: flex
    .volume-img
      width: 35px
      img
        width: 100%

.content
  width: 100vw
  height: 100vh
  position: absolute
  background-size: cover
  opacity: 0.5
.video
  position: fixed
  z-index: 2
  top: -23vh

.dialog-container
  position: fixed
  z-index: 3
  bottom: 20vh
  left: 5vw
  width: 90%

  .dialog
    font-size: 3rem
    font-weight: 400
    height: 50px
    color: white
    margin-bottom: 5vh
    &-author
      font-weight: 400
      color: $yellow
      font-size: 3.6rem
    &-text
      line-height: 3.7rem

  .choices
    display: flex
    align-self: center
    justify-content: space-around
    width: 100%
    height: 40px
    &-item
      color: white
      font-size: 2rem
      cursor: pointer
      border: 1px solid $darkblue
      border-radius: 5px
      padding: 10px
      background-color: $darkblue
    &-item:hover
      background: white
      color: $darkgrey
      transition: 0.2s